.main-container {
  position: relative;
  border: 1px solid #111;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.checker-board {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: strech;
  position: relative;
}

.tile {
  width: 64px;
  height: 64px;
  text-align: center;
  align-self: center;
}

.checker {
  width: 64px;
  height: 64px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
}

.red {
  background-color: red;
}

.black {
  background-color: #111;
}

.white {
  background-color: white;
}

.king-class {
  border: 3px solid gold;
}